/* Importando a fonte do sistema OMNI */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,300;0,400;0,600;0,700;0,900;1,400;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    margin: 0;
    padding: 0;
    background-color: #050505; /* Absolute Black */
    color: #ffffff;
    font-family: 'Inter', system-ui, -apple-system, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
  }
}

@layer utilities {
  /* Classe utilitária para esconder a barra de rolagem (Netflix style) */
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  
  .scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  /* Brilho neon para textos críticos */
  .text-glow {
    text-shadow: 0 0 15px rgba(220, 38, 38, 0.5);
  }
}